<h1>Добавить курс</h1>
<div class="row">
    <form class="col s12" method="POST" action="/addCourse" novalidate>
        {{#if error}}
        <p class="alert">{{error}}</p>
        {{/if}}
        <div class="input-field">
            <input placeholder="Название курса" type="text" name="title" class="validate" value="{{data.title}}"
                required>
            <span class="helper-text" data-error="Укажите значение" data-success="right"></span>
        </div>
        <div class="input-field">
            <input placeholder="Цена курса" type="text" name="price" class="validate" value="{{data.price}}" required>
            <span class="helper-text" data-error="Укажите значение" data-success="right"></span>
        </div>
        <div class="input-field">
            <input placeholder="Путь к картинке" type="text" name="img" class="validate" value="{{data.img}}" required>
            <span class="helper-text" data-error="Укажите значение" data-success="right"></span>
        </div>
        <input type="hidden" name="_csrf" value="{{@root.csrf}}">
        <button class="btn waves-effect waves-light" type="submit">Добавить</button>
    </form>
</div>