<h1>Редактировать курс по {{course.title}}</h1>
<div class="row">
    <form class="col s12" method="POST" action="/courses/edit">
        <div class="input-field">
            <input placeholder="Название курса" id="first_name" type="text" name="title" class="validate"
                value={{course.title}} required>
            <span class="helper-text" data-error="Укажите значение" data-success="right"></span>
        </div>
        <div class="input-field">
            <input placeholder="Цена курса" id="last_name" type="text" name="price" class="validate"
                value={{course.price}} required>
            <span class="helper-text" data-error="Укажите значение" data-success="right"></span>
        </div>
        <div class="input-field">
            <input placeholder="Путь к картинке" id="last_name" type="text" name="img" class="validate"
                value={{course.img}} required>
            <span class="helper-text" data-error="Укажите значение" data-success="right"></span>
        </div>
        <input type='hidden' name="id" value="{{course.id}}">
        <button class="btn waves-effect waves-light" type="submit">Редактировать</button>
    </form>
</div>